extends layouts/main

block content
  section.index
    .container
      form(action="/solve", method="POST").sudoku
        .box#box-1
          input(type="number", name="cell_1_1", value="5").row-1.col-1
          input(type="number", name="cell_1_2", value="3").row-1.col-2
          input(type="number", name="cell_1_3").row-1.col-3
          input(type="number", name="cell_2_1", value="6").row-2.col-4
          input(type="number", name="cell_2_2").row-2.col-5
          input(type="number", name="cell_2_3").row-2.col-6
          input(type="number", name="cell_3_1").row-3.col-7
          input(type="number", name="cell_3_2", value="9").row-3.col-8
          input(type="number", name="cell_3_3", value="8").row-3.col-9
        .box#box-2
          input(type="number", name="cell_1_4").row-1.col-1
          input(type="number", name="cell_1_5", value="7").row-1.col-2
          input(type="number", name="cell_1_6").row-1.col-3
          input(type="number", name="cell_2_4", value="1").row-2.col-4
          input(type="number", name="cell_2_5", value="9").row-2.col-5
          input(type="number", name="cell_2_6", value="5").row-2.col-6
          input(type="number", name="cell_3_4").row-3.col-7
          input(type="number", name="cell_3_5").row-3.col-8
          input(type="number", name="cell_3_6").row-3.col-9
        .box#box-3
          input(type="number", name="cell_1_7").row-1.col-1
          input(type="number", name="cell_1_8").row-1.col-2
          input(type="number", name="cell_1_9").row-1.col-3
          input(type="number", name="cell_2_7").row-2.col-4
          input(type="number", name="cell_2_8").row-2.col-5
          input(type="number", name="cell_2_9").row-2.col-6
          input(type="number", name="cell_3_7").row-3.col-7
          input(type="number", name="cell_3_8", value="6").row-3.col-8
          input(type="number", name="cell_3_9").row-3.col-9
        .box#box-4
          input(type="number", name="cell_4_1", value="8").row-4.col-1
          input(type="number", name="cell_4_2").row-4.col-2
          input(type="number", name="cell_4_3").row-4.col-3
          input(type="number", name="cell_5_1", value="4").row-5.col-4
          input(type="number", name="cell_5_2").row-5.col-5
          input(type="number", name="cell_5_3").row-5.col-6
          input(type="number", name="cell_6_1", value="7").row-6.col-7
          input(type="number", name="cell_6_2").row-6.col-8
          input(type="number", name="cell_6_3").row-6.col-9
        .box#box-5
          input(type="number", name="cell_4_4").row-4.col-1
          input(type="number", name="cell_4_5", value="6").row-4.col-2
          input(type="number", name="cell_4_6").row-4.col-3
          input(type="number", name="cell_5_4", value="8").row-5.col-4
          input(type="number", name="cell_5_5").row-5.col-5
          input(type="number", name="cell_5_6", value="3").row-5.col-6
          input(type="number", name="cell_6_4").row-6.col-7
          input(type="number", name="cell_6_5", value="2").row-6.col-8
          input(type="number", name="cell_6_6").row-6.col-9
        .box#box-6
          input(type="number", name="cell_4_7").row-4.col-1
          input(type="number", name="cell_4_8").row-4.col-2
          input(type="number", name="cell_4_9", value="3").row-4.col-3
          input(type="number", name="cell_5_7").row-5.col-4
          input(type="number", name="cell_5_8").row-5.col-5
          input(type="number", name="cell_5_9", value="1").row-5.col-6
          input(type="number", name="cell_6_7").row-6.col-7
          input(type="number", name="cell_6_8").row-6.col-8
          input(type="number", name="cell_6_9", value="6").row-6.col-9
        .box#box-7
          input(type="number", name="cell_7_1").row-7.col-1
          input(type="number", name="cell_7_2", value="6").row-7.col-2
          input(type="number", name="cell_7_3").row-7.col-3
          input(type="number", name="cell_8_1").row-8.col-4
          input(type="number", name="cell_8_2").row-8.col-5
          input(type="number", name="cell_8_3").row-8.col-6
          input(type="number", name="cell_9_1").row-9.col-7
          input(type="number", name="cell_9_2").row-9.col-8
          input(type="number", name="cell_9_3").row-9.col-9
        .box#box-8
          input(type="number", name="cell_7_4").row-7.col-1
          input(type="number", name="cell_7_5").row-7.col-2
          input(type="number", name="cell_7_6").row-7.col-3
          input(type="number", name="cell_8_4", value="4").row-8.col-4
          input(type="number", name="cell_8_5", value="1").row-8.col-5
          input(type="number", name="cell_8_6", value="9").row-8.col-6
          input(type="number", name="cell_9_4").row-9.col-7
          input(type="number", name="cell_9_5", value="8").row-9.col-8
          input(type="number", name="cell_9_6").row-9.col-9
        .box#box-9
          input(type="number", name="cell_7_7", value="2").row-7.col-1
          input(type="number", name="cell_7_8", value="8").row-7.col-2
          input(type="number", name="cell_7_9").row-7.col-3
          input(type="number", name="cell_8_7").row-8.col-4
          input(type="number", name="cell_8_8").row-8.col-5
          input(type="number", name="cell_8_9", value="5").row-8.col-6
          input(type="number", name="cell_9_7").row-9.col-7
          input(type="number", name="cell_9_8", value="7").row-9.col-8
          input(type="number", name="cell_9_9", value="9").row-9.col-9
        input(type="submit", value="Send")#submit